### Part of speech of python programming

- comments
- keywords
- operators
- Values/variables
- expressions

#### Comments
they used to explain what a code does

- Comments can be used to explain Python code.
- Comments can be used to make the code more readable.
- Comments can be used to prevent execution when testing code.

In [ ]:
Single line comment

In [19]:
#this is a comment

In [9]:
# adding two numbers
print(3+5)

8

In [ ]:
Multiline comment

In [21]:
'''
This is
a multiline
comment
'''

'\nThis is\na multiline\ncomment\n'

#### keywords
Keywords are reserved words in Python that have a specific meaning to the interpreter and cannot be used as `variable names, function names, or any other identifier.`


**Examples:**
and, as, assert, break, continue, del, elif, else, except, finally,for, from, global, if, import, in, is, lambda, not, or, pass, raise, return, try, while, with, yield, etc.

In [31]:
pass = 'to kick a ball short'

SyntaxError: invalid syntax (3835330949.py, line 1)

The above gave an error

In [33]:
passing = 'to kick a ball short'

In [11]:
if = 'condiction'

SyntaxError: invalid syntax (510598506.py, line 1)

## operators

Python offers a wide range of operators to perform different tasks on data. These operators can be grouped into several categories:

**1. Arithmetic Operators:**

* `+`: Addition
* `-`: Subtraction
* `*`: Multiplication
* `/`: Division (true division)
* `//`: Floor division (rounded towards zero)
* `%`: Modulo (remainder of division)
* `**`: Exponentiation

**2. Comparison Operators:**

* `==`: Equal to
* `!=`: Not equal to
* `<`: Less than
* `>`: Greater than
* `<=`: Less than or equal to
* `>=`: Greater than or equal to

**3. Logical Operators:**

* `and`: Logical AND
* `or`: Logical OR
* `not`: Logical NOT

**4. Bitwise Operators:**

* `&`: Bitwise AND
* `|`: Bitwise OR
* `~`: Bitwise NOT
* `^`: Bitwise XOR
* `<<`: Left shift
* `>>`: Right shift

**5. Assignment Operators:**

* `=`: Simple assignment
* `+=`: Addition assignment
* `-=`: Subtraction assignment
* `*=`: Multiplication assignment
* `/=`: Division assignment
* `//=`: Floor division assignment
* `%=`: Modulo assignment
* `**=`: Exponentiation assignment

**6. Membership Operators:**

* `in`: Checks if a value is present in a sequence
* `not in`: Checks if a value is not present in a sequence

**7. Identity Operators:**

* `is`: Checks if two operands are the same object
* `is not`: Checks if two operands are not the same object

**8. Special Operators:**

* `@`: Matrix multiplication

Each operator has its specific usage and precedence. It's important to understand the behavior and priority of each operator to write correct and efficient code.

Here are some additional details about Python operators:

* Operators can be used with various data types, including numbers, strings, lists, and tuples.
* The behavior of operators can be overloaded for custom classes.
* Operator precedence determines the order of evaluation in expressions.
* Python also provides unary operators that operate on a single operand, such as `-` for negation and `~` for bitwise negation.

**1. Arithmetic Operators:**

* `+`: Addition
* `-`: Subtraction
* `*`: Multiplication
* `/`: Division (true division)
* `//`: Floor division (rounded towards zero)
* `%`: Modulo (remainder of division)
* `**`: Exponentiation

**Example**

In [51]:
#addition
print(3+5)

#Subtraction
print(3-5)

#Multiplication
print(3*5)

#Division
print(3/5)

8
-2
15
0.6

In [55]:
#Floor division
print(5//2) #quotient
print(3//10)

2
0

In [61]:
#Modulo
print(5%2) #remainder

#Exponentiation
print(5**2)

1
25

**2. Comparison Operators:**
used to compare values

* `==`: Equal to
* `!=`: Not equal to
* `<`: Less than
* `>`: Greater than
* `<=`: Less than or equal to
* `>=`: Greater than or equal to

**Example**

In [72]:
print(5==6)
print(5!=7)
print(5>3)
print(5<8)
print(5<=3)
print(5>=5)

False
True
True
True
False
True

**3. Logical Operators:**
Used to combine two or more operators and perform logical text

* `and`: Logical AND
* `or`: Logical OR
* `not`: Logical NOT

**Example**

In [86]:
print(8<7 and 8>5)
print(8<7 or 8>5)
print(not 8>5)

False
True
False

**4. Bitwise Operators:**

* `&`: Bitwise AND
* `|`: Bitwise OR
* `~`: Bitwise NOT
* `^`: Bitwise XOR
* `<<`: Left shift
* `>>`: Right shift

**Example**

In [93]:
print(10 & 4)
print(10 | 4)

0
14

Explanation: converting decimals to binary using the bin method and vice versa using the int method

In [95]:
bin(10)

'0b1010'

In [97]:
bin(4)

'0b100'

In [101]:
int(0b1110)

14

### Arithmetic Operators:

In [4]:
x = 6

In [8]:
print(x)

6

In [10]:
x += 2
# x = x+2

In [12]:
x

8

In [14]:
x -=3
# x = x -3

In [16]:
x

5

In [18]:
x *=2

In [20]:
x

10

In [22]:
x /=2

In [24]:
x

5.0

In [34]:
x%=2

In [36]:
print(x)

1.0

## Variables

In Python, variables are used to store and manipulate data. Unlike some other programming languages, Python is dynamically typed, meaning you don't have to explicitly declare the data type of a variable. Here's a basic overview of Python variables:

### Variable Naming Rules:
- Variable names can be a combination of letters (a-z, A-Z), numbers (0-9), and underscores (_).
- They cannot start with a number.
- Python is case-sensitive, so `myVar` and `myvar` would be considered different variables.
- Avoid using reserved words as variable names (e.g., `if`, `else`, `for`, etc.).

### Assigning Values to Variables:
You can assign values to variables using the assignment operator (`=`). Here are some examples:

```python
# Integer variable
age = 25

# Floating-point variable
height = 5.9

# String variable
name = "John"

# Boolean variable
is_student = True
```

### Dynamic Typing:
As mentioned earlier, Python is dynamically typed, which means you don't need to specify the data type of a variable. The interpreter determines the type at runtime.

```python
x = 10        # x is an integer
x = "Hello"   # Now x is a string
x = 3.14      # Now x is a float
```

### Multiple Assignment:
You can assign values to multiple variables in a single line.

```python
a, b, c = 1, 2, 3
```

### Variable Types:
1. **Integer:**
   ```python
   age = 25
   ```

2. **Float (Floating-point):**
   ```python
   height = 5.9
   ```

3. **String:**
   ```python
   name = "John"
   ```

4. **Boolean:**
   ```python
   is_student = True
   ```

### Printing Variables:
You can print the values of variables using the `print()` function.

```python
print(name)        # Output: John
print(age + 5)     # Output: 30
print(is_student)  # Output: True
```

### Variable Reassignment:
You can change the value of a variable after it has been assigned.

```python
x = 10
print(x)  # Output: 10

x = 20
print(x)  # Output: 20
```

Understanding how to use variables is fundamental to programming in Python. They allow you to store, manipulate, and retrieve data, making your code more flexible and readable.

##### Class work

create a variable to display your biography

In [46]:
name = 'Divine'
sex = 'Male'
age= 28
occupation='Software engineer'
description = 'A graduate of Mechanical Engineering with strong background in software and data science'

In [50]:
print('My name is',name)
print(f'I am a {sex} and {age} years old')
print(f'I am a {occupation}. {description}')

My name is Divine
I am a Male and 28 years old
I am a Software engineer. A graduate of Mechanical Engineering with strong background in software and data science

#### Project: Biography program

In [54]:
print('---Biography program---')

name = input('name: ')
sex = input('sex: ')
age= input('age: ')
occupation=input('occupation: ')
description = input('description: ')

#display
print()
print('---Here is your biography---')
print('My name is',name)
print(f'I am a {sex} and {age} years old')
print(f'I am a {occupation}. {description}')

---Biography program---

name:  John
sex:  Male
age:  28
occupation:  Data scientist
description:  A graduate of computer science with strong background in Data

---Here is your biography---
My name is John
I am a Male and 28 years old
I am a Data scientist. A graduate of computer science with strong background in Data

## Data types

Python provides several built-in data types to represent different kinds of values. Here's an overview of some common data types, their properties, and methods:

### 1. **Numeric Types:**
   - **Integers (`int`):** Whole numbers without a decimal point.
   ```python
   x = 10
   y = -5
   ```

   - **Floats (`float`):** Numbers with a decimal point.
   ```python
   height = 5.9
   pi = 3.14
   ```

   - **Complex Numbers (`complex`):** Numbers in the form `a + bj`, where `a` and `b` are real numbers and `j` is the imaginary unit.
   ```python
   z = 2 + 3j
   ```

### 2. **Text Type:**
   - **Strings (`str`):** Ordered sequences of characters.
   ```python
   name = "John"
   message = 'Hello, World!'
   ```

   **String Methods:**
   ```python
   text = "   Python Programming   "

   # String length
   print(len(text))          # Output: 23

   # Convert to lowercase
   print(text.lower())       # Output: python programming

   # Convert to uppercase
   print(text.upper())       # Output: PYTHON PROGRAMMING

   # Remove leading and trailing whitespaces
   print(text.strip())       # Output: Python Programming
   ```

### 3. **Sequence Types:**
   - **Lists (`list`):** Ordered, mutable (changeable) sequences.
   ```python
   numbers = [1, 2, 3, 4, 5]
   ```

   **Accessing  Items of a List:** By index: index begins with 0
```python
 
 numbers[0] # Gives the first item in the list
 or 
 numbers[-1] ## Gives the last item in the list
```


   **List Methods:**
   ```python
   numbers.append(6)      # Add element to the end
   numbers.remove(3)      # Remove element by value
   numbers.pop(2)         # Remove element by index
   print(numbers)         # Output: [1, 2, 4, 5, 6]
   ```

   - **Tuples (`tuple`):** Ordered, immutable (unchangeable) sequences.
   ```python
   coordinates = (3, 4)
   ```

   **Tuple Methods:**
   Tuples have fewer methods compared to lists since they are immutable.

### 4. **Set Types:**
   - **Sets (`set`):** Unordered collections of unique elements.
   ```python
   colors = {"red", "green", "blue"}
   ```

   **Set Methods:**
   ```python
   colors.add("yellow")     # Add element to the set
   colors.remove("green")   # Remove element from the set
   print(colors)            # Output: {'blue', 'yellow', 'red'}
   ```

### 5. **Mapping Type:**
   - **Dictionaries (`dict`):** Unordered collections of key-value pairs.
   ```python
   person = {"name": "John", "age": 30, "city": "New York"}
   ```

   **Dictionary Methods:**
   ```python
   person["gender"] = "Male"    # Add a new key-value pair
   del person["age"]            # Remove key-value pair by key
   print(person)                # Output: {'name': 'John', 'city': 'New York', 'gender': 'Male'}
   ```

### 6. **Boolean Type:**
   - **Booleans (`bool`):** Represents truth values, either `True` or `False`.
   ```python
   is_adult = True
   is_student = False
   ```

These are some of the fundamental data types in Python along with a few examples of their properties and methods. Understanding these types and their associated methods is essential for effective programming in Python. If you have specific questions or if there's a particular aspect you'd like more detail on, feel free to ask!

## Examples

#### Int

In [11]:
# numbers with no decimal points
age = 78

In [13]:
age

78

In [14]:
type(age)

int

#### Floats

In [17]:
# numbers with decimal points
height = 6.2

In [19]:
height

6.2

In [21]:
type(height)

float

#### String(str)

In [24]:
# any value enclosed with single or double qoutes
name = 'David'
sex = "Male"

In [26]:
name

'David'

In [28]:
sex

'Male'

In [30]:
type(name)

str

#### Mecelenoues

##### Class work, If:
y = x + m(c)

In [66]:
x = 5
m = '4'
c= 3.5

##### Find y

In [69]:
#convert m to int us the int() method
m = int(m)

In [70]:
m

4

In [73]:
y = x+m*c

In [74]:
y

19.0

Class work: Given the text below

`name = '    John Divine'`

- Remove unneccssary white space
- Change the texts to upper case
- Split the `name` into `first` and `lastname`

In [86]:
name = '    John Divine'

In [88]:
name = name.strip()

In [90]:
name

'John Divine'

In [92]:
name = name.upper()

In [94]:
name

'JOHN DIVINE'

In [98]:
firstName, lastName = name.split(' ')

In [100]:
firstName

'JOHN'

In [102]:
lastName

'DIVINE'

## List

Lets same i have a students name, age, course and grade.
initially we store the like this:

````python
name = 'Samuel'
age = 25
course = 'data science'
grade = 76

```

using list we can store it 

```python
student = ['Samuel',25,'data science',76]
```

In [5]:
employee = ['Hassan',34, 'Marketing']

In [7]:
employee

['Hassan', 34, 'Marketing']

In [15]:
print('My name is',employee[0], 'i am ',employee[1],'years old. And i work at',employee[2],'department.')

My name is Hassan i am  34 years old. And i work at Marketing department.

##### F strings

In [18]:
print(f'My name is {employee[0]} i am {employee[1]} years old. And i work in the {employee[2]} department.')

My name is Hassan i am 34 years old. And i work in the Marketing department.

#### Nested List:
Example2

In [118]:
employees = [
            ['Hassan',34, 'Marketing'],
            ['Abey', 30,'Sales'],
            ['Sandra', 26, 'Facilities'],
            ['David', 24, 'Facilities'],
            ['Junior', 26, 'HR'],
            ['Mark', 26, 'Finance'],
            ['John', 22, 'Accounting'],
            ['Tunde', 27, 'Delivery'],
            ['Boby', 28, 'sale'],
    
           ]

In [120]:
employees

[['Hassan', 34, 'Marketing'],
 ['Abey', 30, 'Sales'],
 ['Sandra', 26, 'Facilities'],
 ['David', 24, 'Facilities'],
 ['Junior', 26, 'HR'],
 ['Mark', 26, 'Finance'],
 ['John', 22, 'Accounting'],
 ['Tunde', 27, 'Delivery'],
 ['Boby', 28, 'sale']]

#### Accessing Items in Nested list

##### Give the data of the first and second employee

In [123]:
employees[0]

['Hassan', 34, 'Marketing']

In [124]:
employees[1]

['Abey', 30, 'Sales']

##### what is the first employees name

In [126]:
employees[0][0]

'Hassan'

##### what is the first employees age

In [128]:
employees[0][1]

34

In [129]:
print('Top four TechMotions employees')
print(f'Employee Names are {employees[0][0]}, {employee[1][0]}, {employee[2][0]}, {employee[3][0]}')

Top four TechMotions employees
Employee Names are Hassan, Abey, Sandra, David

In [152]:
selected = input('Please select whom to view eg, first, second,etc: ')

if selected=='first':
    print(f'Name is {employees[0][0]}')
    print(f'Age is {employees[0][1]}') 
    
elif selected=='second':
    print(f'Name is {employees[1][0]}')
    print(f'Age is {employees[1][1]}') 
    
elif selected=='third':
    print(f'Name is {employees[2][0]}')
    print(f'Age is {employees[2][1]}')
else:
    print('Wrong selection')

Please select whom to view eg, first, second,etc:  first

Name is Hassan
Age is 34

##### slicing
```
Syntax: listName[a:b:c]
a = start index
b = end index
c = skip
```

##### Displayig the first 3 or 4 employees data

In [155]:
print(employees[0:3])

[['Hassan', 34, 'Marketing'], ['Abey', 30, 'Sales'], ['Sandra', 26, 'Facilities']]

In [156]:
print(employees[:3])

[['Hassan', 34, 'Marketing'], ['Abey', 30, 'Sales'], ['Sandra', 26, 'Facilities']]

##### Displayig the first and fourth employees data

In [159]:
print(employees[0:4:3])

[['Hassan', 34, 'Marketing'], ['David', 24, 'Facilities']]

##### Displayig the last employees data

In [163]:
print(employees[-1])

['Boby', 28, 'sale']

Updateing items to a list use: `=`

In [168]:
employees[0][1]=34

In [170]:
print(employees[0][1])

34

#### List Methods and Properties

Checking for number of items in a list: use `len`

In [174]:
print(len(employees))

9

Adding items to a list: use `append`

In [176]:
employees.append(['Taiwo',27,'Marketing'])

In [177]:
print(employees)

[['Hassan', 34, 'Marketing'], ['Abey', 30, 'Sales'], ['Sandra', 26, 'Facilities'], ['David', 24, 'Facilities'], ['Junior', 26, 'HR'], ['Mark', 26, 'Finance'], ['John', 22, 'Accounting'], ['Tunde', 27, 'Delivery'], ['Boby', 28, 'sale'], ['Taiwo', 27, 'Marketing']]

Removing items to a list: use `pop`

In [179]:
employees.pop(2)

['Sandra', 26, 'Facilities']

In [180]:
print(employees)

[['Hassan', 34, 'Marketing'], ['Abey', 30, 'Sales'], ['David', 24, 'Facilities'], ['Junior', 26, 'HR'], ['Mark', 26, 'Finance'], ['John', 22, 'Accounting'], ['Tunde', 27, 'Delivery'], ['Boby', 28, 'sale'], ['Taiwo', 27, 'Marketing']]

### Tuples (tuple)

A tuple in Python is a collection of ordered and immutable elements. This means that once you create a tuple, you cannot modify its content (add, remove, or change elements). Tuples are defined using parentheses `()` and can contain elements of different data types. Here's a basic overview of Python tuples:

### Creating Tuples:

You can create a tuple by enclosing a sequence of elements within parentheses:


```python
my_tuple = (1, 2, 3, 'hello', 3.14)
```

You can also create an empty tuple:

```python
empty_tuple = ()
```

### Accessing Elements:

You can access elements in a tuple using indexing, similar to lists:

```python
print(my_tuple[0])   # Output: 1
print(my_tuple[3])   # Output: 'hello'
```

### Tuple Slicing:

You can use slicing to extract a portion of the tuple:

```python
subset_tuple = my_tuple[1:4]
print(subset_tuple)  # Output: (2, 3, 'hello')
```

### Tuple Concatenation:

You can concatenate tuples using the `+` operator:

```python
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)  # Output: (1, 2, 3, 'a', 'b', 'c')
```

### Tuple Methods:

Tuples have a few built-in methods, though they are more limited compared to lists. One notable method is `count()` to count occurrences of a value and `index()` to find the index of a value:

```python
my_tuple = (1, 2, 2, 3, 3, 3)
print(my_tuple.count(3))    # Output: 3 (count of occurrences of 3)
print(my_tuple.index(2))    # Output: 1 (index of the first occurrence of 2)
```

### Unpacking Tuples:

You can unpack a tuple into individual variables:

```python
coordinates = (3, 4)
x, y = coordinates
print(x)  # Output: 3
print(y)  # Output: 4
```

### Immutability:

Tuples are immutable, meaning you cannot modify their elements or size once they are created. However, you can create a new tuple with modifications:

```python
immutable_tuple = (1, 2, 3)
modified_tuple = immutable_tuple + (4, 5)
print(modified_tuple)  # Output: (1, 2, 3, 4, 5)
```

### Use Cases:

- Tuples are suitable for situations where you want to represent a fixed collection of values that should not be changed.
- They are often used for functions that return multiple values because you can easily unpack the result.

```python
def get_coordinates():
    return (3, 4)

x, y = get_coordinates()
print(x, y)  # Output: 3 4
```

Understanding tuples is essential, especially when you want to work with immutable and ordered collections of data in Python.!

### Creating Tuples:

You can create a tuple by enclosing a sequence of elements within parentheses:

In [8]:
cars = ('Honda', 'Toyota','Mercedes Benz', 'Tesla',4000, 5000, 6500, 10000)

##### Accessing Elements:
You can access elements in a tuple using indexing, similar to lists:

##### which car is the most expensive

In [17]:
cars[3]

'Tesla'

##### which car is the most popular car in Africa

In [20]:
cars[1]

'Toyota'

##### Tuple Slicing:¶
You can use slicing to extract a portion of the tuple

##### Top 2 most expensive cars

In [29]:
cars[2:4]

('Mercedes Benz', 'Tesla')

##### Tuple Methods:¶
Tuples have a few built-in methods, though they are more limited compared to lists. One notable method is count() to count occurrences of a value and index() to find the index of a value:
```python
my_tuple = (1, 2, 2, 3, 3, 3)
print(my_tuple.count(3))    # Output: 3 (count of occurrences of 3)
print(my_tuple.index(2))    # Output: 1 (index of the first occurrence of 2)
```

In [33]:
# Assignment: Create a Sales management app

In [39]:
sales=('fanta','coke','digestive biscuit', 
       'minimi chinchin','coke', 'fanta',
       'malt','dano milk','malt', 
       'coke', 'coke', 'malt','pepsi', 'coke')

##### How many number of coke and malt were sold

In [50]:
coke = sales.count('coke')

In [52]:
malt = sales.count('malt')

In [56]:
print(f'From the analysis {coke} cokes were sold and {malt} malts were sold')

From the analysis 5 cokes were sold and 3 malts were sold

In [62]:
print('From the analysis %s cokes were sold and %s malts were sold'%(coke,malt))

From the analysis 5 cokes were sold and 3 malts were sold

#### Immutability:
Tuples are immutable, meaning you cannot modify their elements or size once they are created. However, you can create a new tuple with modifications:

immutable_tuple = (1, 2, 3)
modified_tuple = immutable_tuple + (4, 5)
print(modified_tuple)  # Output: (1, 2, 3, 4, 5)

In [65]:
scores = (34,56,76,45,87)

In [67]:
scores[1] = 65

TypeError: 'tuple' object does not support item assignment

##### The way out is using a logic by converting the tuple to a list

In [74]:
newScore = list(scores)

In [76]:
newScore

[34, 56, 76, 45, 87]

In [78]:
newScore[1]=65

In [84]:
scores = tuple(newScore)

In [86]:
scores

(34, 65, 76, 45, 87)